.app {
  background: rgba(20, 159, 214, 0.6);
  box-sizing: border-box;
  color: #181818;
  font-family: Arial;
  height: 100vh;
  padding: 1rem;
}

.app__heading {
  font-size: 2rem;
  margin: 0.75rem 0 1.5rem;
}

.app__column-list {
  align-items: flex-start;
  border-radius: 2px;
  display: flex;
  flex-wrap: nowrap;
  height: calc(100vh - 7rem);
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0.75rem 0;
}

.app__add-column-button {
  background-color: rgba(8, 121, 228, 0.25);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1;
  min-width: 20rem;
  padding: 0.5rem;
  text-align: left;
}
