.app {
  background: lightblue;
  box-sizing: border-box;
  height: 100vh;
  padding: 1rem;
}

.app__heading {
  font-size: 2rem;
  margin: 0.75rem 0 1.5rem;
}

.app__column-list {
  background: paleturquoise;
  border-radius: 2px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0.75rem;
}
